annotated-types
asgiref
blis
catalogue
certifi
charset-normalizer
click
cloudpathlib
colorama
confection
cymem
Django
django-cors-headers
idna
Jinja2
joblib
langcodes
MarkupSafe
murmurhash
nltk
numpy
packaging
pandas
preshed
psycopg2
pydantic
pydantic_core
python-dateutil
pytz
regex
requests
scikit-learn
scipy
setuptools
six
smart-open
spacy
spacy-legacy
spacy-loggers
sqlparse
srsly
thinc
threadpoolctl
tqdm
typer
typing_extensions
tzdata
urllib3
wasabi
weasel
whitenoise
